*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Roboto", sans-serif;
  color: #2a2827;
  font-weight: 400;
  line-height: 1.5; }

.container {
  max-width: 1100px;
  margin: 0 auto; }

.hero {
  height: 60vh;
  position: relative;
  background: #fdfdfd;
  color: #444140; }
  .hero header {
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-between; }
  .hero .logo {
    height: 35px;
    width: 35px; }
  .hero .nav {
    list-style: none;
    display: flex;
    align-items: center; }
  .hero .nav__item:not(:last-child) {
    margin-right: 5rem; }
  .hero .nav__link:link, .hero .nav__link:visited {
    font-size: 1.3rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #444140;
    letter-spacing: 3px;
    transition: all 0.3s ease; }
  .hero .nav__link:hover, .hero .nav__link:active {
    text-shadow: 0.5rem 1rem 2rem rgba(153, 132, 212, 0.15);
    color: #7e6dae; }
  .hero__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .hero__text--main {
      font-family: "Josefin Sans", sans-serif;
      font-size: 4rem;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.4rem; }
    .hero__text--sub {
      font-size: 1.8rem;
      font-weight: 400;
      text-align: center;
      color: #555;
      text-transform: uppercase;
      letter-spacing: 0.2rem; }
