.about {
  background: #9984d4; }
  .about-section {
    min-height: 40vh;
    display: flex;
    box-shadow: 0 0 0.5rem rgba(42, 40, 39, 0.3);
    color: #cacaca; }
  .about__skills {
    background: #33302f;
    flex: 0 0 200px;
    font-size: 1.2rem; }
    @media only screen and (max-width: 900px) {
      .about__skills {
        flex: 0 0 180px; } }
    @media only screen and (max-width: 650px) {
      .about__skills {
        flex: 0 0 100px; } }
    @media only screen and (max-width: 475px) {
      .about__skills {
        flex: 0 0 90px; } }
    @media only screen and (max-width: 320px) {
      .about__skills {
        display: none; } }
  .about__description {
    background: #2a2827;
    padding: 6rem;
    font-family: "Roboto Mono", monospace;
    font-size: 1.3rem;
    line-height: 1.7;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
    @media only screen and (max-width: 650px) {
      .about__description {
        padding: 4rem 3rem;
        line-height: 1.5; } }
    .about__description p {
      animation: fadeIn 0.5s ease-in-out; }
    .about__description span.highlight {
      color: #f4be72;
      text-transform: uppercase; }

.skills__head {
  display: flex;
  align-items: center;
  margin-bottom: 0.4rem;
  font-size: 1.3rem;
  font-weight: 500;
  text-transform: uppercase;
  animation: fadeIn 0.5s ease-in-out;
  padding: 0.4rem 1rem;
  background: #555;
  color: #fdfdfd; }
  .skills__head ion-icon {
    transform: rotate(45deg);
    font-size: 1.5rem;
    margin-right: 0.3rem; }
  @media only screen and (max-width: 475px) {
    .skills__head {
      font-size: 1.2rem;
      padding: 0.4rem; } }

.skills__list {
  list-style: none;
  margin-left: 3.5rem;
  animation: fadeIn 0.5s ease-in-out; }
  @media only screen and (max-width: 650px) {
    .skills__list {
      margin-left: 2rem; } }
  @media only screen and (max-width: 475px) {
    .skills__list {
      margin-left: 1.4rem; } }

.skills__item {
  display: flex;
  align-items: center;
  padding: 0.2rem 0;
  font-size: 1.3rem; }
  @media only screen and (max-width: 475px) {
    .skills__item {
      font-size: 1.2rem; } }
  .skills__item i {
    font-size: 1.4rem;
    margin-right: 0.8rem; }
    @media only screen and (max-width: 475px) {
      .skills__item i {
        font-size: 1.2rem; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opactiy: 1; } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opactiy: 1;
    transform: translate(0); } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 900px) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 750px) {
    html {
      font-size: 50%; } }

body {
  font-family: "Roboto", sans-serif;
  color: #2a2827;
  background: #fdfdfd;
  font-weight: 400;
  line-height: 1.5; }

.container {
  max-width: 1100px;
  margin: 0 auto; }

h1.section-heading {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 3px;
  margin: 8rem 0;
  text-align: center;
  color: #444140; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  padding: 1rem 2rem;
  display: inline-block;
  font-size: 1.4rem;
  letter-spacing: 1px;
  transition: all 0.3s;
  border-radius: 2px; }

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08); }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(68, 65, 64, 0.2); }

.btn--white {
  color: #444140;
  border: 2px solid #9984d4; }
  .btn--white:hover {
    background: #9984d4;
    color: #fff; }

.btn--purple {
  color: #fdfdfd;
  background: #6f52c2;
  border: 2px solid #6f52c2; }
  .btn--purple:hover {
    background: #9984d4;
    border-color: #9984d4;
    color: #fff; }

.contact {
  margin-bottom: 16rem; }
  @media only screen and (max-width: 475px) {
    .contact {
      margin-bottom: 8rem; } }
  .contact .email {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .contact .email__text {
      font-size: 1.5rem;
      text-decoration: none;
      letter-spacing: 2px;
      margin-bottom: 2rem; }

.footer__items {
  display: flex;
  align-items: center;
  color: #444140;
  font-size: 1.3rem;
  padding: 2rem; }

.footer__text {
  margin-right: 1rem; }

.footer__icons i {
  font-size: 2rem; }

.hero-section {
  height: 60vh;
  display: flex;
  flex-direction: column; }

header {
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 475px) {
    header {
      padding: 1rem 2rem; } }
  header .logo {
    height: 35px;
    width: 35px; }
    @media only screen and (max-width: 475px) {
      header .logo {
        height: 28px;
        width: 28px; } }
  header .nav {
    list-style: none;
    display: flex;
    align-items: center; }
  header .nav__item:not(:last-child) {
    margin-right: 4rem; }
  header .nav__link:link, header .nav__link:visited {
    font-size: 1.3rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #444140;
    letter-spacing: 2.5px;
    transition: all 0.3s ease; }
  header .nav__link:hover, header .nav__link:active {
    text-shadow: 0.5rem 1rem 2rem rgba(153, 132, 212, 0.15);
    color: #7e6dae; }

.hero {
  margin: auto;
  color: #444140;
  animation: fadeIn 0.8s ease-out;
  display: flex;
  justify-content: center;
  align-items: center; }
  .hero__text--main {
    font-family: "Josefin Sans", sans-serif;
    font-size: 4rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    color: #6f52c2; }
    @media only screen and (max-width: 320px) {
      .hero__text--main {
        font-size: 3rem; } }
  .hero__text--sub {
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    color: #555;
    text-transform: uppercase;
    letter-spacing: 0.2rem; }
    @media only screen and (max-width: 320px) {
      .hero__text--sub {
        font-size: 1.5rem; } }

.projects .project {
  display: flex;
  margin-bottom: 7rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  border-radius: 2px; }
  @media only screen and (max-width: 650px) {
    .projects .project {
      flex-direction: column;
      margin: 7rem; } }
  @media only screen and (max-width: 475px) {
    .projects .project {
      margin: 7rem 2rem; } }
  .projects .project__img {
    background: #9984d4;
    max-width: 420px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    -webkit-backface-visibility: hidden;
    -webkit-transform: perspective(1000px); }
    @media only screen and (max-width: 900px) {
      .projects .project__img {
        max-width: 400px; } }
    @media only screen and (max-width: 750px) {
      .projects .project__img {
        max-width: 300px; } }
    @media only screen and (max-width: 650px) {
      .projects .project__img {
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start; } }
    .projects .project__img img {
      display: block;
      width: 100%;
      height: auto;
      transition: all 0.3s ease-in-out;
      backface-visibility: hidden; }
      @media only screen and (max-width: 650px) {
        .projects .project__img img {
          width: 90%; } }
      @media only screen and (max-width: 475px) {
        .projects .project__img img {
          width: 100%; } }
      .projects .project__img img:hover {
        transform: scale(1.12); }
  .projects .project__info {
    padding: 2rem 3rem;
    color: #555;
    flex: 1;
    font-size: 1.4rem;
    background: #f7f5fc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
    @media only screen and (max-width: 650px) {
      .projects .project__info {
        padding: 3rem; } }
    @media only screen and (max-width: 475px) {
      .projects .project__info {
        padding: 2rem 2rem 3rem 2rem; } }
    .projects .project__info-head {
      font-size: 2.4rem;
      font-weight: 500; }
    .projects .project__info-detail {
      margin: 0.5rem 0; }
    .projects .project__info-tags {
      margin: 0.5rem 0 1.5rem 0; }
      .projects .project__info-tags span {
        display: inline-block;
        font-size: 1.3rem;
        border: 1px solid #aaa;
        padding: 0.1rem 1.2rem;
        margin: 0.5rem 0; }
        .projects .project__info-tags span:not(:last-child) {
          margin-right: 0.6rem; }
