.about {
  height: 40vh;
  background: #9984d4; }
  .about-section {
    display: flex;
    height: 100%;
    box-shadow: 0 0 0.5rem rgba(42, 40, 39, 0.3);
    color: #cacaca; }
  .about__skills {
    background: #33302f;
    flex: 0 0 200px;
    font-size: 1.2rem; }
  .about__description {
    background: #2a2827;
    padding: 4rem 6rem;
    font-family: "Roboto Mono", monospace;
    font-size: 1.3rem;
    line-height: 1.7;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .about__description span.highlight {
      color: #f4be72;
      text-transform: uppercase; }

.skills__head {
  display: flex;
  align-items: center;
  margin-bottom: 0.4rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0.4rem 1rem;
  background: #555;
  color: #fdfdfd; }
  .skills__head ion-icon {
    transform: rotate(45deg);
    font-size: 1.5rem;
    margin-right: 0.3rem; }
  .skills__head p {
    font-size: 1.3rem; }

.skills__list {
  list-style: none;
  margin-left: 3.5rem; }

.skills__item {
  display: flex;
  align-items: center;
  padding: 0.2rem 0;
  font-size: 1.3rem; }
  .skills__item i {
    font-size: 1.4rem;
    margin-right: 0.8rem; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Roboto", sans-serif;
  color: #2a2827;
  background: #fdfdfd;
  font-weight: 400;
  line-height: 1.5; }

.container {
  max-width: 1100px;
  margin: 0 auto; }

h1.section-heading {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 3px;
  margin: 6rem 0;
  text-align: center;
  color: #444140; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  padding: 1rem 2rem;
  display: inline-block;
  letter-spacing: 1px;
  transition: all 0.3s;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08); }

.btn:hover {
  transform: translateY(-2px); }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(68, 65, 64, 0.2); }

.btn--white {
  color: #444140;
  border: 2px solid #9984d4; }
  .btn--white:hover {
    background: #9984d4;
    color: #fff; }

.btn--purple {
  color: #fdfdfd;
  background: #6f52c2;
  border: 2px solid #6f52c2; }
  .btn--purple:hover {
    background: #9984d4;
    border-color: #9984d4;
    color: #fff; }

.hero {
  height: 60vh;
  position: relative;
  color: #444140; }
  .hero header {
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-between; }
  .hero .logo {
    height: 35px;
    width: 35px; }
  .hero .nav {
    list-style: none;
    display: flex;
    align-items: center; }
  .hero .nav__item:not(:last-child) {
    margin-right: 4rem; }
  .hero .nav__link:link, .hero .nav__link:visited {
    font-size: 1.3rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #444140;
    letter-spacing: 2.5px;
    transition: all 0.3s ease; }
  .hero .nav__link:hover, .hero .nav__link:active {
    text-shadow: 0.5rem 1rem 2rem rgba(153, 132, 212, 0.15);
    color: #7e6dae; }
  .hero__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .hero__text--main {
      font-family: "Josefin Sans", sans-serif;
      font-size: 4rem;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.4rem;
      color: #6f52c2; }
    .hero__text--sub {
      font-size: 1.8rem;
      font-weight: 400;
      text-align: center;
      color: #555;
      text-transform: uppercase;
      letter-spacing: 0.2rem; }

.projects .project {
  display: flex;
  margin-bottom: 7rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
  border-radius: 2px; }
  .projects .project__img {
    max-width: 420px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08); }
    .projects .project__img img {
      display: block;
      width: 100%;
      height: auto;
      transition: all 0.3s ease-in-out;
      backface-visibility: hidden; }
      .projects .project__img img:hover {
        transform: scale(1.12); }
  .projects .project__info {
    padding: 1rem 1rem 1rem 3rem;
    color: #555;
    flex: 1;
    font-size: 1.4rem;
    background: #f7f5fc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
    .projects .project__info-head {
      font-size: 2.4rem;
      font-weight: 500; }
    .projects .project__info-detail {
      margin: 0.5rem 0; }
    .projects .project__info-tags span {
      display: inline-block;
      font-size: 1.3rem;
      border: 1px solid #aaa;
      padding: 0.1rem 1.2rem;
      margin: 1rem 0 2rem 0; }
      .projects .project__info-tags span:not(:last-child) {
        margin-right: 0.6rem; }
