@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opactiy: 1;
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opactiy: 1;
    transform: translate(0);
  }
}
