// RESETS

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-primary;
  color: $color-black-1;
  background: $color-grey-light-1;
  font-weight: 400;
  line-height: 1.5;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

// TYPOGRAPHY

h1.section-heading {
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 3px;
  margin: 8rem 0;
  text-align: center;
  color: $color-black-2;
}
