.footer {
  &__items {
    display: flex;
    align-items: center;
    color: $color-black-2;
    font-size: 1.3rem;
    padding: 2rem;
  }

  &__text {
    margin-right: 1rem;
  }

  &__icons {
    i {
      font-size: 2rem;
    }
  }
}
