.footer {
  &__items {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: $color-black-2;
    font-size: 1.3rem;
    padding: 2rem;
  }

  &__text {
    margin-right: 1rem;
  }

  &__links {
    display: flex;
    align-items: center;

    a {
      text-decoration: none;
      color: inherit;
    }

    i {
      font-size: 2rem;
    }
  }
}

// back to top button
.to-top {
  align-self: flex-end;
  background: $color-grey-dark-1;
  color: $color-grey-light-1;
  padding: 0.7rem 1rem;
  font-size: 1.4rem;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;

  p {
    font-size: 1.2rem;
  }
}
