.hero-section {
  height: 60vh;
  display: flex;
  flex-direction: column;
}

header {
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;

  @media only screen and (max-width: $bp-mobile) {
    padding: 2rem 3rem;
  }

  .logo {
    height: 35px;
    width: 35px;

    @media only screen and (max-width: $bp-mobile) {
      height: 28px;
      width: 28px;
    }
  }

  .nav {
    list-style: none;
    display: flex;
    align-items: center;
  }

  .nav__item {
    &:not(:last-child) {
      margin-right: 4rem;
    }
  }

  .nav__link {
    &:link,
    &:visited {
      font-size: 1.3rem;
      text-transform: uppercase;
      text-decoration: none;
      color: $color-black-2;
      letter-spacing: 2.5px;
      transition: all 0.3s ease;
    }

    &:hover,
    &:active {
      text-shadow: 0.5rem 1rem 2rem rgba($color-primary, 0.15);
      color: $color-primary-dark;
    }
  }
}

.hero {
  margin: auto;
  color: $color-black-2;
  // animation: fadeIn 0.8s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    animation: fadeIn 2s ease-out;

    &--main {
      font-family: $font-secondary;
      font-size: 4rem;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.4rem;
      color: $color-primary-dark-2;

      @media only screen and (max-width: $bp-mobile-xs) {
        font-size: 3rem;
      }
    }

    &--sub {
      font-size: 1.8rem;
      font-weight: 400;
      text-align: center;
      color: $color-grey-dark-1;
      text-transform: uppercase;
      letter-spacing: 0.2rem;

      @media only screen and (max-width: $bp-mobile-xs) {
        font-size: 1.5rem;
      }
    }
  }
}
