.projects {
  .project {
    display: flex;
    margin-bottom: 7rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    border-radius: 2px;

    &__img {
      max-width: 420px;
      overflow: hidden;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12),
        0 2px 4px 0 rgba(0, 0, 0, 0.08);

      img {
        display: block;
        width: 100%;
        height: auto;
        transition: all 0.3s ease-in-out;
        backface-visibility: hidden;

        &:hover {
          transform: scale(1.12);
        }
      }
    }

    &__info {
      padding: 1rem 1rem 1rem 3rem;
      color: $color-grey-dark-1;
      flex: 1;
      font-size: 1.4rem;
      background: #f7f5fc;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      &-head {
        font-size: 2.4rem;

        font-weight: 500;
      }

      &-detail {
        margin: 0.5rem 0;
      }

      &-tags {
        span {
          display: inline-block;
          font-size: 1.3rem;
          border: 1px solid $color-grey-dark-2;
          padding: 0.1rem 1.2rem;
          margin: 1rem 0 2rem 0;

          &:not(:last-child) {
            margin-right: 0.6rem;
          }
        }
      }
    }
  }
}
