.projects {
  .project {
    display: flex;
    margin-bottom: 6rem;

    &__img {
      max-width: 300px;
      img {
        width: 100%;
        height: auto;
      }
    }

    &__info {
      padding: 0 0 2rem 4rem;
      color: $color-black-2;
      flex: 1;
      font-size: 1.4rem;

      &-head {
        font-size: 2.4rem;

        font-weight: 500;
      }

      &-detail {
        margin: 1rem 0;
      }

      &-tags {
        span {
          display: inline-block;
          font-size: 1.3rem;
          border: 1px solid $color-grey-dark-1;
          padding: 0.1rem 1.2rem;
          margin-top: 1rem;

          &:not(:last-child) {
            margin-right: 0.6rem;
          }
        }
      }
    }
  }
}
