// COLOR VARIABLES
$color-primary: #9984d4;
$color-primary-dark: #7e6dae;
$color-primary-dark-2: #6f52c2;

$color-black-1: #2a2827;
$color-black-2: #444140;

$color-editor-gold: #f4be72;
$color-editor-black: #33302f;

$color-grey-light-1: #fdfdfd;
$color-grey-light-2: #cacaca;

$color-grey-dark-1: #555;
$color-grey-dark-2: #aaa;

// FONT VARIABLES
$font-primary: "Roboto", sans-serif;
$font-secondary: "Josefin Sans", sans-serif;
$font-editor: "Roboto Mono", monospace;

// RESPONSIVE BREAKPOINTS
$bp-tab-land: 900px;
$bp-tab-port: 750px;
$bp-tab-small: 650px;
$bp-mobile: 475px;
$bp-mobile-small: 375px;
$bp-mobile-xs: 320px;
